<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="file"
            xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}/RebarComponentInserter/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}"
            archiveEvery="Day"
            maxArchiveFiles="7" />

    <target name="debug"
            xsi:type="Debugger"
            layout="${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>
